<%= form_with(url: search_snowresorts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @snowresorts.each do |snowresort| %>
    <%= snowresort.resort_name %>
    <%#= render partial: "snowresort", locals: { snowresort: snowresort } %>
  <% end %>
</div>