// Place all the styles related to the snowresorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw;
  height: 100vh;
  background-image: image-url('main.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.logo-icon {
  width: 35vh;
  margin-right: 80vw;
  margin-top: 20px;
}

.service-title {
  margin-top: 30px;
  font-size: 10vh;
  margin-right: 100px;
}

.service-explain {
  font-size: 3vh;
  line-height: 40px;
  margin-right: 100px;
}

.store-btn {
  display: flex;
  margin-top: 10vh;
  padding-right: 60vw;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

.search-form {
  margin-top: 5vh;
  margin-right: 100px;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 400px;
  height: 5vh;
}

.search-button {
  width: 5vh;
  border: 0;
  background-color: blue;
}

.search-icon {
  width: 100%;
}

.lists-right {
  font-size: 20px;
  display: flex;
  margin: 10vh 100px 20px 0;
}

.user-nickname {
  margin-right: 3vw;
  color: #333333;
}

.logout {
  color: #333333;
}

.login {
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.post{
  background-color: lightblue;
  margin: 20px 100px 0 0;
  padding: 10px 20px;
  text-align: center;
  color: black;
  width: 100px;
}

/* 投稿一覧 */

.snowresort-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 20px;
}

.snowresort-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.snowresort-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.resort-img-content {
  position: relative;
}

.resort-img {
  width: 33vh;
  height: 33vh;
}

.snowresort-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.post-date {
  font-size: 2vh;
}

.snowresort-name {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //投稿一覧 */