.snowresort-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.title2 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 10px;
}

.resort-img {
  width: 33vh;
  height: 33vh;
}
